body{
    background: #001f53;
    font-family: 'Montserrat';
    font-size: medium;
    min-width: 1250px;
}
.vl {
  display: inline-block;
  border-left: 3px solid white;
  height: 70px;
  border-radius: 3px;
}
h1{
    color: #fff;
    white-space: pre;
    text-align: left;
    margin-top: 8%;
    letter-spacing: 2%;
}
span{
    color: #fff;
}
.wrapper{
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px;
}
.line-area{
    display:block;
    width: 70%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 20%;
}
.wrapper .timeline-area{
    height: 100%;
}
.single-item{
    width: 6%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 10%;
    margin-top: 1.5%;
    transition: width .3s;
    z-index: 1;
}
.line1{
    width: 6%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 95%;
    z-index: 1;
}
.line2{
    width: 6%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 95%;
    z-index: 1;
}
.single-item > span{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -36%;
    margin-left: -225%;
    width: 400%;
}
.line1::before{
    content: '';
    display: block;
    width: 1px;
    height: 2000%;
    background: #ddd;
    margin-right: 20%;
    margin-top: -580%;
    margin-left: -440%;
}
.single-item > span:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: linear-gradient(#87aedc,#e1cde3);
    margin: -1.5% auto 9% auto;
    border-radius: 50%;
    cursor: pointer;
}
.single-item2{
    width: 6%;
    white-space: nowrap;
    display: inline-block;
    position:relative;
    height: 100%;
    margin-right: 10%;
    transition: width .3s;
    z-index: 1;
}
.single-item2 > span{
    position:absolute;
    margin-top: -106%;
    margin-left: -225%;
    width: 400%;
}
.line2::after{
    content: '';
    display: block;
    width: 1px;
    height: 2000%;
    background: #ddd;
    margin-right: 40%;
    margin-top: -1550%;
    margin-left: -440%;
}
.single-item2 > span:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: linear-gradient(#87aedc,#e1cde3);
    margin: 9.5% auto 9% auto;
    border-radius: 50%;
    cursor:pointer;
}
.single-item2:hover span:after{
    transform: scale(1.5);
}
.single-item:hover span:before{
    transform: scale(1.5);
}
.single-item::before,
.single-item::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color:#143162;

  position: absolute;
  top: -7000%;
  left: -23%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.single-item::before {
  --translate-y: calc(-100% - var(--arrow-size));
  white-space: normal;
  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 500%;
  background: var(--tooltip-color);
}

.single-item:hover::before,
.single-item:hover::after {
  --scale: 1;
}

.single-item::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  top: -70px;
  left: -15px;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.single-item2::after,
.single-item2::before {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color:#143162; /*#143162*/
  opacity:1;
  position: absolute;
  top: 20000%;
  left: -23%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}


.single-item2::after {
  --translate-y: calc(-100% - var(--arrow-size));
  white-space: normal;
  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 500%;
  background: var(--tooltip-color);
}

.single-item2:hover::after,
.single-item2:hover::before {
  --scale: 1;
}

.single-item2::before {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  top: 50px;
  left: -15px;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}
